* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.title {
  color: #171717;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}

.subtitle {
  color: #171717;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

.wild-pokemon {
  min-height: 300px;
  background: #5db9ff;
  padding: 15px;
}

.wild-pokemon h2 {
  color: #f3f3f3;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.wild-pokemon .sprite {
  display: block;
  width: 150px;
  margin: 0px auto;
}

.wild-pokemon h3 {
  color: #f3f3f3;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.sideBySide {
  float: left;
  display: inline;
}
.wild-pokemon h4 {
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

.wild-pokemon .catch-btn {
  width: 180px;
  height: 40px;
  display: block;
  margin: 10px auto;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  background: rgb(73, 160, 73);
  color: #ffce00;
}

.wild-pokemon .catch-btn:active {
  background: #0e1f83;
}

.pokedex {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-flow: column;
  overflow: scroll;
}

.pokedex-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
}

.pokedex-list .pokemon {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 150px;
  padding: 15px;
  background: #f3f3f3;
}

.pokedex-list .pokemon .sprite {
  width: 200px;
}

.pokedex-list .pokemon .spritePokedex {
  width: 100%;
}
.pokedex-list .pokemon .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #5db9ff;
  color: #f3f3f3;
  font-size: 28px;
  cursor: pointer;
}
